<!DOCTYPE html>
<html lang="en">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Elite Jobs</title>
    <link rel="icon" type="image/x-icon" href="/static/images/1.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxI  ep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
        integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/ddb78983e6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/zoho.css">
    <script src="https://kit.fontawesome.com/ddb78983e6.js" crossorigin="anonymous"></script>
    <script>
        window.watsonAssistantChatOptions = {
          integrationID: "326eaf57-00c1-4160-92c5-73d4cc2b36a2", // The ID of this integration.
          region: "au-syd", // The region your integration is hosted in.
          serviceInstanceID: "8b7a8c0d-8ef0-4940-a46e-182b96c1b179", // The ID of your service instance.
          onLoad: function(instance) { instance.render(); }
        };
        setTimeout(function(){
          const t=document.createElement('script');
          t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
          document.head.appendChild(t);
        });
      </script>
</head>

<body>
    <style>
        body {
            background-color: rgba(131, 133, 131, 0.514);
        }
    </style>
    <nav class="navbar ">


        <a class="brand" href="/">
            <img src="../static/images/1.png" width="50" height="50" class="d-inline-block align-top" alt="">
        </a>

        <a class="nav-link" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="clients">Our Clients</a>
        <a class="nav-link" href="Queries">Queries</a>
        <a class="nav-link" href="about">About</a>
        <a class="nav-link" id="log" href="login">LOGIN</a>
    </nav>

    <div id="background">
        <div class="card" style="width: 50rem; border: 0px">
            <img src="/static/images/hp.png " height="157" width="50" class="card-img-top" alt="...">
            <div class="card-body">
                <b class="card-title">SALES ACCOUNT MANAGER</b><br><br>
                <h6 class="card-text">HP</h6>

                <p>
                    Location : India<br>
                    Experience : 0-3 years<br>
                    Qualification : Bachelor Degree
                </p>
                <hr>
                <h4>Job Details</h4>

                <b>Salary</b>
                <p>₹25,000 - ₹45,000 a month</p>

                <b>Benefits & Perks</b>
                <p>Cell phone reimbursement</p>

                <b>Job Type</b>
                <p>Full-time</p>

                <b>Qualifications</b>
                <p>Real estate sales: 1 year (Preferred)</p>

                <hr>

                <b>Full Job Description</b>

                <p>Levonor is a premium property development company in Hyderabad with years of experience in
                    construction. Preserving its reputation from prior projects, Levonor is coming up with ambitious
                    projects with contemporary outlook. Aiming for high quality and reliability, Levonor is currently
                    looking for talented and dynamic team to expand its footprint in real estate market.
                <br>
                We are open for young and aspiring talent with rigor and passion for their work.</p>

                <b>Role</b>

                <p>Sales Account Manager</p>

                <b>Your Responsibilities and Key Qualities Include</b>
                <ul>
                    <li>Excellent communication skills in Telugu, English and Hindi</li>
                    <li>Customer engagement and regular follow-up</li>
                    <li>Maintaining the customer stories, logs and data in CRM tool</li>
                    <li>Timely status updates and reviews to management</li>
                    <li>New lead management from fixing appointment to site visit</li>
                    <li>Good understanding about construction projects and sales</li>
                    <li>Passion to understand nuances and project highlights</li>
                    <li>Managing the accounts on property listing websites</li>
                    <li>Ability to explain the details to the customer</li>
                    <li>Passion to learn new techniques and expedite them</li>
                </ul>

                <b>Required Qualifications</b>
                <ul>
                    <li>Education in Management or equivalent</li>
                    <li>2-3 years professional experience in real estate projects</li>
                    <li>Proficiency in CRM tools and computer operation</li>
                    <li>Excellent communication skills and ability to lead</li>
                </ul>
                
                <b>Location</b>
                <p>Hyderabad</p>
                
                <b>Ability to commute/relocate</b>
                <p>Hyderabad - 502300, Telangana: Reliably commute or planning to relocate before starting work (Required)</p>

                <b>Hiring Insights</b>
                <p><i class="fa-solid fa-bolt"></i>   Application response rate:<b style="color: rgb(218, 119, 119);">67%</b></p>
                <p><i class="fa-solid fa-user-plus"></i>  Hiring 10+ candidates for this role</p>

                <a href="https://careers.hpe.com/us/en/job/HPE1US1139839EXTERNALENUS/inside-sales-Account-Manager"
                    class="apply">Apply now</a>
            </div>
        </div>

    </div>
    <button class="icon-chevron-up" onclick="topFunction()" id="myBtn" title="Go to top">

    </button>
    <script>
        let mybutton =
            document.getElementById("myBtn");
        window.onscroll = function () { scrollFunction() };
        function scrollFunction() {
            if (document.body.scrollTop > 20 ||
                document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";

            } else {
                mybutton.style.display = "none";
            }
        }

        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>

</html>