<!DOCTYPE html>
<html lang="en">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Elite Jobs</title>
    <link rel="icon" type="image/x-icon" href="/static/images/1.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxI  ep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
    integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
    crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/ddb78983e6.js" crossorigin="anonymous"></script>
<script>
  window.watsonAssistantChatOptions = {
    integrationID: "326eaf57-00c1-4160-92c5-73d4cc2b36a2", // The ID of this integration.
    region: "au-syd", // The region your integration is hosted in.
    serviceInstanceID: "8b7a8c0d-8ef0-4940-a46e-182b96c1b179", // The ID of your service instance.
    onLoad: function(instance) { instance.render(); }
  };
  setTimeout(function(){
    const t=document.createElement('script');
    t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
    document.head.appendChild(t);
  });
</script>



</head>
<body>
  <nav class="navbar ">
    <a class="brand" href="#">
        <img src="/static/images/1.png" width="50" height="50" class="d-inline-block align-top" alt="">
    </a>
    <a class="nav-link" aria-current="page" href="/">Home</a>
    <a class="nav-link" href="login">Job Feed </a>
    <a class="nav-link" href="clients">Our Clients</a>
    <a class="nav-link" href="Queries">Queries</a>
    <a class="nav-link" href="about">About</a>


    <a class="nav-link" id="log" href="login">LOGIN</a>
</nav>

    <div class="container">
    <div class="row mt-5">
        
            <div class="card" style="width: 18rem;">
                <img src="/static/images/zoho.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <b class="card-title">SOFTWARE DEVELOPER</b><br><br>
                  <h6 class="card-text">ZOHO</h6>
                  
                  <p>
                    Location : Chennai<br>
                    Experience : Freshers<br>
                    Qualification : Any Degree
                  </p>
                
                  <a href="zoho" class="btn btn-warning">View Details</a>
                </div>
              </div>

            <div class="card c2" style="width: 18rem;">
                <img src="/static/images/MINDTREE1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <b class="card-title">TEST ENGINEER</b><br><br>
                  <h6 class="card-text">MINDTREE</h6>
                  
                  <p>
                    Location : Banglore<br>
                    Experience : Freshers<br>
                    Qualification : Any Graduate
                  </p>
                  <a href="mindtree" class="btn btn-warning">View Details</a>
                </div>
              </div>
    
            <div class="card C3" style="width: 18rem;">
                <img src="/static/images/VIRTUSA.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <b class="card-title">ANALYST</b><br><br>
                  <h6 class="card-text">VIRTUSA</h6>
                  
                  <p>
                    Location : Across India<br>
                    Experience : Freshers<br>
                    Qualification : Any Graduate
                  </p>
                  <a href="virtusa" class="btn btn-warning">View Details</a>
                </div>
              </div>
    
    </div>
    </div>

    <div class="container">
        <div class="row mt-5">
            
                <div class="card c2" style="width: 18rem;">
                  <img src="/static/images/MINDTREE1.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <b class="card-title">CUSTOMER SUPPORT</b><br><br>
                    <h6 class="card-text">MINDTREE</h6>
                    
                    <p>
                      Location : Banglore<br>
                      Experience : 1-3 years<br>
                      Qualification : Bachelor Degree
                    </p>
                      <a href="mindtree1" class="btn btn-warning">View Details</a>
                    </div>
                  </div>
    
                <div class="card" style="width: 18rem;">
                  <img src="/static/images/byteridge.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <b class="card-title">SOFTWARE DEVELOPER</b><br><br>
                    <h6 class="card-text">BYTERIDGE</h6>
                    
                    <p>
                      Location : Hyderabad<br>
                      Experience : 0-1 years<br>
                      Qualification : B.Tech
                    </p>
                      <a href="byteridge" class="btn btn-warning">View Details</a>
                    </div>
                  </div>
        
                <div class="card c4" style="width: 18rem;">
                  <img src="/static/images/parallel.png" class="card-img-top" alt="...">
                  <div class="card-body">
                    <b class="card-title">JUNIOR SOFTWARE ENGINEER</b><br><br>
                    <h6 class="card-text">PARALLEL WIRELESS</h6>
                    
                    <p>
                      Location : Banglore<br>
                      Experience : Freshers<br>
                      Qualification : B.E/B.Tech
                    </p>
                      <a href="parallel" class="btn btn-warning">View Details</a>
                    </div>
                  </div>
        
        </div>
        </div>

        <div class="container">
            <div class="row mt-5">
                
                    <div class="card c2" style="width: 18rem;">
                      <img src="/static/images/lg.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <b class="card-title">SOFTWARE ENGINEER</b><br><br>
                        <h6 class="card-text">L.G</h6>
                        
                        <p>
                          Location : Banglore<br>
                          Experience : Freshers<br>
                          Qualification : B.E/B.Tech/M.E/M.Tech
                        </p>
                          <a href="lg" class="btn btn-warning">View Details</a>
                        </div>
                      </div>
        
                    <div class="card c6" style="width: 18rem;">
                      <img src="/static/images/binance.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <b class="card-title">JAVA DEVELOPER</b><br><br>
                        <h6 class="card-text">BINANCE</h6>
                        
                        <p>
                          Location : New Delhi<br>
                          Experience : Freshers<br>
                          Qualification : Bachelor degree
                        </p>
                          <a href="binance" class="btn btn-warning">View Details</a>
                        </div>
                      </div>
            
                    <div class="card c5" style="width: 18rem;">
                      <img src="/static/images/Teleperformance.png" class="card-img-top" alt="...">
                      <div class="card-body">
                        <b class="card-title">CUSTOMER SERVICE</b><br><br>
                        <h6 class="card-text">TELEPERFOMANCE</h6>
                        
                        <p>
                          Location : Across India<br>
                          Experience : Freshers/Experienced<br>
                          Qualification : Any Graduate
                        </p>
                          <a href="teleperformane" class="btn btn-warning">View Details</a>
                        </div>
                      </div>
            
            </div>
            </div>

            <div class="container bottom">
                <div class="row mt-5">
                    
                        <div class="card c2" style="width: 18rem;">
                          <img src="/static/images/hp.png " height="157" width="50" class="card-img-top" alt="...">
                          <div class="card-body">
                            <b class="card-title">SALES ACCOUNT MANAGER</b><br><br>
                            <h6 class="card-text">HP</h6>
                            
                            <p>
                              Location : India<br>
                              Experience : 0-3 years<br>
                              Qualification : Bachelor Degree
                            </p>
                              <a href="hp" class="btn btn-warning">View Details</a>
                            </div>
                          </div>
            
                        <div class="card" style="width: 18rem;">
                          <img src="/static/images/VISIONNET.jpeg" class="card-img-top" alt="...">
                          <div class="card-body">
                            <b class="card-title">BUSINESS ANALYST</b><br><br>
                            <h6 class="card-text">VISIONNET</h6>
                            
                            <p>
                              Location : Banglore<br>
                              Experience : FRESHERS<br>
                              Qualification : 10th/12th/B.E
                            </p>
                              <a href="visionnet" class="btn btn-warning">View Details</a>
                            </div>
                          </div>
                
                        <div class="card c7" style="width: 18rem;">
                          <img src="/static/images/NTT.png" class="card-img-top" alt="...">
                          <div class="card-body">
                            <b class="card-title">ASSOCIATE GRADUATE</b><br><br>
                            <h6 class="card-text">NTT</h6>
                            
                            <p>
                              Location : Chennai<br>
                              Experience : Freshers<br>
                              Qualification : Diploma/Bachelor Degree
                            </p>
                              <a href="ntt" class="btn btn-warning">View Details</a>
                            </div>
                          </div>
                
                </div>
                </div>

                <button class="icon-chevron-up" onclick="topFunction()"id="myBtn" title="Go to top">

                </button>

                <script>
                  let mybutton=
                  document.getElementById("myBtn");
                  window.onscroll=function()
                  {scrollFunction()};
                  function scrollFunction(){
                    if(document.body.scrollTop>20||
                    document.documentElement.scrollTop>20)
                    {
                      mybutton.style.display="block";

                    }else{
                      mybutton.style.display="none";
                    }
                  }

                  function topFunction(){
                    document.body.scrollTop=0;
                    document.documentElement.scrollTop=0;
                  }
                </script>

<style>
  *{
    margin: 0;
    padding: 0;
}
#log {
    padding: 4px 9px;
    color: rgb(251, 107, 4);
    font-weight: bold;
    border: 2px solid rgb(251, 107, 4);
    border-radius: 30px;
}

#log:hover {
    color: rgb(19, 176, 255);
    background: none;
    border: 2px solid rgb(19, 176, 255);
}
.nav-link {
    font-weight: bold;
    font-size: medium;
    color: rgb(229, 127, 2);
    font-family: 'Signika Negative', sans-serif;

}
    
.nav-link:hover {
    color: rgb(19, 176, 255);
}

.navbar {
    top: 0;
    background-color: rgb(0, 0, 0);
    padding-left: 30px;
    padding-right: 30px;
}

#myBtn{
    display: none;
    position: fixed;
    bottom: 90px;
    right: 38px;
    z-index: 99;
    border: none;
    outline: none;
    background-color:rgb(253, 137, 4);;
    color: black;
    cursor: pointer;
    font-weight: bolder;
    font-size: larger;
    width: 3rem;
    height: 3rem;
    border-radius: 100%;

    }
.card{
    border: 1px solid rgb(44, 43, 43);
    padding-top: 15px;
    margin-left: 90px;
   
}
.card:hover{
    outline: none;
    border-color: #5e5e5e7f;
    box-shadow: 0px 4px 10px #363636;
    transform: scale(1.1);
}
.card a:hover{
    background-color: rgba(251, 255, 0, 0.989);
}
.card h6 {
    color: rgb(253, 104, 4);
    font-weight: 800;
}

.c2{
    padding-top: 60px;
}
.c2 img{
    margin-bottom: 60px;
}
.C3{
    padding-top: 90px;
}
.C3 img{
    margin-bottom: 75PX;
}

.c4{
    padding-top: 60px;
}
.c4 img{
    margin-bottom: 57px;
}

.c5{
    padding-top: 139px;
}
.c5 img{
    margin-bottom: 105px;
}
.c5 a{
    margin-top: 10px;
}

.c6{
    padding-top: 80px;
}
.c6 img{
    margin-bottom: 55px;
}
.c6 a{
    margin-top: 13px;
}
.c7{
    padding-top: 130px;
}
.c7 img{
    margin-bottom: 80px;
}

.bottom{
    margin-bottom: 60px;
}
</style>        
        
    



</body>
</html>