<!DOCTYPE html>
<html lang="en">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Elite Jobs</title>
    <link rel="icon" type="image/x-icon" href="/static/images/1.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxI  ep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
        integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/ddb78983e6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/zoho.css">
    <script src="https://kit.fontawesome.com/ddb78983e6.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/ddb78983e6.js" crossorigin="anonymous"></script>
    <script>
        window.watsonAssistantChatOptions = {
          integrationID: "326eaf57-00c1-4160-92c5-73d4cc2b36a2", // The ID of this integration.
          region: "au-syd", // The region your integration is hosted in.
          serviceInstanceID: "8b7a8c0d-8ef0-4940-a46e-182b96c1b179", // The ID of your service instance.
          onLoad: function(instance) { instance.render(); }
        };
        setTimeout(function(){
          const t=document.createElement('script');
          t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
          document.head.appendChild(t);
        });
      </script>
</head>

<body>
    <style>
        body {
            background-color: rgba(131, 133, 131, 0.514);
        }
    </style>
    <nav class="navbar ">


        <a class="brand" href="/">
            <img src="../static/images/1.png" width="50" height="50" class="d-inline-block align-top" alt="">
        </a>

        <a class="nav-link" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="clients">Our Clients</a>
        <a class="nav-link" href="Queries">Queries</a>
        <a class="nav-link" href="about">About</a>
        <a class="nav-link" id="log" href="login">LOGIN</a>
    </nav>

    <div id="background">
        <div class="card" style="width: 50rem; border: 0px">
            <img src="/static/images/lgcom.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <b class="card-title">SOFTWARE ENGINEER</b><br><br>
                <h6 class="card-text">L.G</h6>

                <p>
                    Location : Banglore<br>
                    Experience : Freshers<br>
                    Qualification : B.E/B.Tech/M.E/M.Tech
                </p>
                <hr>
                <h4>Job Details</h4>

                <b>Salary</b>
                <p>₹50,000 - ₹80,000 a month</p>

                <b>Benifits & Perks</b>
                <p>
                <ul>
                    <li>Provident Fund,</li>
                    <li>Life insurance</li>
                    <li>Health insurance</li>
                    <li>Paid time off</li>
                </ul>
                </p>

                <b>Job Type</b>
                <ul>
                    <li>Full-time</li>
                    <li>Regular / Permanen</li>
                </ul>

                <b>Qualifications</b>
                <p>Bachelor's (Preferred)</p>

                <b>Full Job Description</b>

                <p style="font-weight: 600; font-size: medium;">We are looking Amazing Web Developers/Software Engineers
                </p>

                <p>Experience Candidates are eligible | 1-3 Years experience preferred</p>

                <p style="font-weight: 600; font-size: medium;">Here are details of the position we are looking to fill
                    :

                <ul>
                    <li>Experience level: 0-3 years</li>
                    <li>Job Location: Infopark - Koratti, Kerala and Bangalore</li>
                </ul>
                </p>

                <b>About the Company</b>
                <p>RCKR Software is an innovative company in the software technology space. Founded back in the year of
                    2003 with an aim to simplify the business complexities of our clients using leading-edge software
                    tools and platforms. Over the last 16 years, we not only delivered solutions to the satisfaction of
                    our clients but delighted them with value-added facilities and we are continuing to do so.</p>

                <b>What are we looking for</b>
                <p>We are looking for web developers with good analytical and problem-solving skills, self-driven,
                    motivated and energetic with tenacity and patience to be a part building our next-generation
                    software systems. <br>

                    Please note that only candidates who consider themselves as passionate programmers and can learn new
                    technologies quickly are encouraged to apply.
                </p>

                <b>Skills we look for in an ideal candidate</b>
                <ul>
                    <li>0 - 3 years of experience in working with Web applications</li>
                    <li>Experience in Software architecture</li>
                    <li>Experience in database architecture</li>
                    <li>Experience in leading projects and people</li>
                    <li>Experience in technical research, discovery and PoCs</li>
                    <li>Experience in working with large codebases is a plus</li>
                    <li>Hands-on experience in full-stack web application development</li>
                    <li>Experience with mobile app development is a plus</li>
                    <li>Knowledge of any frontend technologies like Angular, React etc is a plus
                    </li>
                </ul>

                <b>Job Types</b>
                <p>Full-time, Regular / Permanent</p>

                <b>Schedule:</b>
                <p>Monday to Friday</p>

                <b>Supplemental pay types</b>
                <ul><li>Performance bonus</li>
                <li>Yearly bonus</li></ul>

                <b>Education</b>
                <p>Bachelor's (Preferred)</p>

                <b>Hiring Insights</b>
                <p><i class="fa-solid fa-user-plus"></i>  Hiring 10+ candidates for this role</p>
                <p><i class="fa-solid fa-clock"></i>    Urgently hiring</p>





                <a href="https://enroll.lgsoftindia.com/Joining/UploadResume.aspx?JobCode=LG-BLR-Software%20Engineer"
                    class="apply">Apply now</a>
            </div>
        </div>

    </div>

    <button class="icon-chevron-up" onclick="topFunction()" id="myBtn" title="Go to top">
    </button>
    <script>
        let mybutton =
            document.getElementById("myBtn");
        window.onscroll = function () { scrollFunction() };
        function scrollFunction() {
            if (document.body.scrollTop > 20 ||
                document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";

            } else {
                mybutton.style.display = "none";
            }
        }

        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>

</html>