<!DOCTYPE html>
<html lang="en">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Elite Jobs</title>
    <link rel="icon" type="image/x-icon" href="/static/images/1.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxI  ep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
        integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/ddb78983e6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/zoho.css">
    <script src="https://kit.fontawesome.com/ddb78983e6.js" crossorigin="anonymous"></script>
    <script>
        window.watsonAssistantChatOptions = {
          integrationID: "326eaf57-00c1-4160-92c5-73d4cc2b36a2", // The ID of this integration.
          region: "au-syd", // The region your integration is hosted in.
          serviceInstanceID: "8b7a8c0d-8ef0-4940-a46e-182b96c1b179", // The ID of your service instance.
          onLoad: function(instance) { instance.render(); }
        };
        setTimeout(function(){
          const t=document.createElement('script');
          t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
          document.head.appendChild(t);
        });
      </script>
</head>

<body>
    <style>
        body {
            background-color: rgba(131, 133, 131, 0.514);
        }
    </style>
    <nav class="navbar ">


        <a class="brand" href="/">
            <img src="../static/images/1.png" width="50" height="50" class="d-inline-block align-top" alt="">
        </a>
        <a class="nav-link" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="clients">Our Clients</a>
        <a class="nav-link" href="Queries">Queries</a>
        <a class="nav-link" href="about">About</a>
        <a class="nav-link" id="log" href="login">LOGIN</a>
    </nav>

    <div id="background">
        <div class="card" style="width: 50rem; border: 0px">
            <img src="/static/images/mo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <b class="card-title" style="color: black;">TEST ENGINEER</b><br><br>
                <h6 class="card-text">MINDTREE</h6>

                <p>
                    Location : Banglore<br>
                    Experience : Freshers<br>
                    Qualification : Any Graduate
                </p>
                
                <hr>

                <h4>Job Details</h4>

                <b>Job Type</b>
                <p>Full Time</p>

                <hr>

                <b>Full job Description</b>
                <p>Overview:</p>
                <p style="color: rgb(1, 196, 255); font-size: medium; font-weight: 600;">Role purpose:</p>
                <p>The purpose of this role is to prepare test cases and performtesting of the product/ platform/
                    solution to be deployed at a clientend and ensure its meet 100% quality assurance parameters</p>
                <p style="color:rgb(3, 32, 252); font-size: medium; font-weight: 600;">Do:</p>
                <p>
                <ul style="color: rgb(137, 1, 255); font-weight: 600;">
                    <li>Instrumental in understanding the test requirements and testcase design of the product
                        <ul>
                            <li style="color: rgb(8, 8, 8); font-weight: 400;">Authoring test planning with appropriate
                                knowledge on businessrequirements and corresponding testable requirements</li>
                            <li style="color: rgb(8, 8, 8); font-weight: 400;">Implementation of Wipro's way of testing
                                using Model basedtesting and achieving efficient way of test generation</li>
                            <li style="color: rgb(8, 8, 8); font-weight: 400;">Ensuring the test cases are peer reviewed
                                and achieving lessrework</li>
                            <li style="color: rgb(8, 8, 8); font-weight: 400;">Work with development team to identify
                                and capture test cases,ensure version</li>
                            <li style="color: rgb(8, 8, 8); font-weight: 400;">Setting the criteria, parameters,
                                scope/out-scope of testing andinvolve in UAT (User Acceptance Testing)</li>
                            <li style="color: rgb(8, 8, 8); font-weight: 400;">Automate the test life cycle process at
                                the appropriate stagesthrough vb macros, scheduling, GUI automation etc
                            </li>
                        </ul>
                    </li>
                    <li>To design and execute the automation framework and reporting
                        <ul>
                            <li style="color: rgb(8, 8, 8); font-weight: 400;">Develop and automate tests for software
                                validation by setting up of test environments, designing test plans, developing
                                testcases/scenarios/usage cases, and executing these cases</li>
                            <li style="color: rgb(8, 8, 8); font-weight: 400;">Ensure the test defects raised are as per
                                the norm defined forproject / program / account with clear description and
                                replicationpatterns</li>
                            <li style="color: rgb(8, 8, 8); font-weight: 400;">Detect bug issues and prepare file defect
                                reports and reporttest progress</li>
                            <li style="color: rgb(8, 8, 8); font-weight: 400;">No instances of rejection / slippage of
                                delivered work items andthey are within the Wipro / Customer SLA's and norms</li>
                            <li style="color: rgb(8, 8, 8); font-weight: 400;">Design and timely release of test status
                                dashboard at the end ofevery cycle test execution to the stake holders</li>
                            <li style="color: rgb(8, 8, 8); font-weight: 400;">Providing feedback on usability and
                                serviceability, trace theresult to quality risk and report it to concerned stakeholders
                            </li>
                        </ul>
                    </li>
                    <li>Status Reporting and Customer Focus on an ongoing basis withrespect to testing and its execution
                        <ul>
                            <li style="color: rgb(8, 8, 8); font-weight: 400;">Ensure good quality of interaction with
                                customer w.r.t. e-mailcontent, fault report tracking, voice calls, business etiquette
                                etc</li>
                            <li style="color: rgb(8, 8, 8); font-weight: 400;">On time deliveries - WSRs, Test execution
                                report and relevantdashboard updates in Test management repository</li>
                            <li style="color: rgb(8, 8, 8); font-weight: 400;">Updates of accurate efforts in eCube, TMS
                                and other projectrelated trackers</li>
                            <li style="color: rgb(8, 8, 8); font-weight: 400;">Timely Response to customer requests and
                                no instances ofcomplaints either internally or externally</li>
                        </ul>
                    </li>
                </ul>
                </p>
                <p style="color:rgb(3, 32, 252); font-size: medium; font-weight: 600;">Stakeholder Interaction</p>

                <p style="color:rgb(3, 32, 252); font-size: medium; font-weight: 600;">Stakeholder Type</p>

                <p style="color:rgb(3, 32, 252); font-size: medium; font-weight: 600;">Stakeholder Identification</p>

                <p style="color:rgb(3, 32, 252); font-size: medium; font-weight: 600;">Purpose of Interaction</p>

                <p style="color:rgb(3, 32, 252); font-size: medium; font-weight: 600;">Internal
                <ul style="list-style: none;">
                    <li>Lead Test Engineer and Project Manager</li>
                    <li>Regular reporting & updates</li>
                    <li>Software Developers</li>
                    <li>For work coordination and support in providing testing solutions</li>
                </ul>
                </p>

                <p style="color:rgb(3, 32, 252); font-size: medium; font-weight: 600;">External
                    <ulstyle="list-style: none;">
                        <li>Clients</li>
                        <li>Provide apt solutions and support as per the requirement</li>
                        </ul>
                </p>

                <p style="color:rgb(3, 32, 252); font-size: medium; font-weight: 600;">Display
                <p>Lists the competencies required to perform this role effectively:</p>
                <ul>
                    <li><b style="color: black;">Functional Competencies/ Skill</b>
                        <ul>
                            <li>Leveraging Technology – Knowledge of current and upcomingtechnology (automation, tools
                                and systems) to build efficiencies andeffectiveness in own function/ Client organization
                                – Competent</li>
                            <li>Process Excellence - Ability to follow the standards and norms toproduce consistent
                                results, provide effective control and reduction ofrisk – Expert</li>
                            <li>Technical knowledge – knowledge of various testing tools,automation tools, customization
                                and its implementation at the clientsite - Expert
                            </li>
                        </ul>
                    </li>
                </ul>
                </p>
                <p style="color:rgb(3, 32, 252); font-size: medium; font-weight: 600;">Competency Levels</p>

                <p style="color:rgb(3, 32, 252); font-size: medium; font-weight: 600;">Foundation
                <p>Knowledgeable about the competency requirements. Demonstrates (inparts) frequently with minimal
                    support and guidance.</p>
                </p>

                <p style="color:rgb(3, 32, 252); font-size: medium; font-weight: 600;">Competent
                <p>Consistently demonstrates the full range of the competencywithout guidance. Extends the competency to
                    difficult and unknownsituations as well.</p>
                </p>

                <p style="color:rgb(3, 32, 252); font-size: medium; font-weight: 600;">Expert
                <p>Applies the competency in all situations and is serves as a guideto others as well.</p>
                </p>

                <p style="color:rgb(3, 32, 252); font-size: medium; font-weight: 600;">Master
                <p>Coaches others and builds organizational capability in thecompetency area. Serves as a key resource
                    for that competency and isrecognised within the entire organization.
                    <ul>
                        <li>Behavioral Competencies
                            <ul style="list-style: none;">
                                <li>Formulation & Prioritization</li>
                                <li>Client centricity</li>
                                <li>Execution Excellence</li>
                                <li>Passion for Results</li>
                                <li>Confidence</li>
                            </ul>
                        </li>
                    </ul></p>
                </p>
                <p style="color:rgb(3, 32, 252); font-size: medium; font-weight: 600;">Deliver</p>
                <p style="color:rgb(3, 32, 252); font-size: medium; font-weight: 600;">Performance Parameter</p>
                <p style="color:rgb(3, 32, 252); font-size: medium; font-weight: 600;">Measure
                    <ul>
                        <li>Understanding the test requirements and test case design of theproduct</li>
                        <li>Execute test cases and reporting</li>
                    </ul>
                </p>

                <b>Hiring Insights</b>
                <ul style="list-style: none;">
                    <li><i class="fa-solid fa-bolt"></i>  Application response rate:<b style="color: rgb(218, 119, 119);">65%</b></li>
                </ul>



                <a href="https://www.ltimindtree.com/careers/" class="apply">Apply now</a>
            </div>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>

</html>