<!DOCTYPE html>
<html lang="en">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Elite Jobs</title>
    <link rel="icon" type="image/x-icon" href="/static/images/1.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxI  ep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
        integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/ddb78983e6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/zoho.css">
    <script src="https://kit.fontawesome.com/ddb78983e6.js" crossorigin="anonymous"></script>
    <script>
        window.watsonAssistantChatOptions = {
          integrationID: "326eaf57-00c1-4160-92c5-73d4cc2b36a2", // The ID of this integration.
          region: "au-syd", // The region your integration is hosted in.
          serviceInstanceID: "8b7a8c0d-8ef0-4940-a46e-182b96c1b179", // The ID of your service instance.
          onLoad: function(instance) { instance.render(); }
        };
        setTimeout(function(){
          const t=document.createElement('script');
          t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
          document.head.appendChild(t);
        });
      </script>
</head>

<body>
    <style>
        body {
            background-color: rgba(131, 133, 131, 0.514);
        }
    </style>
    <nav class="navbar ">


        <a class="brand" href="/">
            <img src="../static/images/1.png" width="50" height="50" class="d-inline-block align-top" alt="">
        </a>

        <a class="nav-link" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="clients">Our Clients</a>
        <a class="nav-link" href="Queries">Queries</a>
        <a class="nav-link" href="about">About</a>
        <a class="nav-link" id="log" href="login">LOGIN</a>
    </nav>

    <div id="background">
        <div class="card" style="width: 50rem; border: 0px">
            <img src="/static/images/NTT.png" class="card-img-top" alt="...">
            <div class="card-body">
                <b class="card-title">ASSOCIATE GRADUATE</b><br><br>
                <h6 class="card-text">NTT</h6>

                <p>
                    Location : Chennai<br>
                    Experience : Freshers<br>
                    Qualification : Diploma/Bachelor Degree
                </p>
                <hr>
                <b>Who You'll Work With</b>
                <p>You will work in one of our India offices as part of our Life Sciences team.
                    You will be a member of McKinsey’s global Life Sciences practice. The Life Sciences practice is a
                    strategic, innovative, mission-driven, highly competitive sector, with 2000+ total practitioners. We
                    serve pharma, medical device and biotech companies, as well as other stakeholders across the
                    healthcare value chain. We work with clients across all functional topics, including marketing &
                    sales, operations, research & development, organizations, strategy & corporate finance, and core
                    technology. Associate consultants work in teams and directly with our clients.</p>
                <b>What You'll Do</b>
                <p>You will work in teams of typically 3 – 5 consultants, playing an active role in all aspects of
                    client engagement. <br>
                    This includes gathering and analyzing information, formulating and testing hypotheses, and
                    developing and communicating recommendations. You will also have the opportunity to present results
                    to client management and implement recommendations in collaboration with client team members. <br>
                    Associates receive exceptional training as well as frequent coaching and mentoring from colleagues
                    on their teams. This support includes a Partner from your local office or practice assigned to you
                    to help guide your career as well as up to five weeks of formal training in your first two years as
                    an Associate. <br>
                    Additionally, you will receive guidance and support from your local office or practice in the
                    selection of client projects, helping you to develop your skills and build your network.</p>
                
                <b>Qualifications</b>

                    <ul>
                        <li>Bachelor's degree; advanced graduate degree (e.g., MBA, PhD, etc.) or equivalent (typically 5+ years) work experience is preferred</li>
                        <li>Ability to work collaboratively in a team and create an inclusive environment with people at all levels of an organization</li>
                        <li>Capability to drive an independent workstream in the context of a broader team project</li>
                        <li>Comfort with ambiguous, ever-changing situations</li>
                        <li>Ability to break down and solve problems through quantitative thinking and analysis</li>
                        <li>Ability to communicate effectively, both verbally and in writing, in English and local office language(s)</li>
                    </ul>

                <a href="https://careers.services.global.ntt/global/en/job/R-89165"
                    class="apply">Apply now</a>
            </div>
        </div>

    </div>
    <button class="icon-chevron-up" onclick="topFunction()" id="myBtn" title="Go to top">

    </button>
    <script>
        let mybutton =
            document.getElementById("myBtn");
        window.onscroll = function () { scrollFunction() };
        function scrollFunction() {
            if (document.body.scrollTop > 20 ||
                document.documentElement.scrollTop > 20) {
                mybutton.style.display = "block";

            } else {
                mybutton.style.display = "none";
            }
        }

        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>

</html>