<!DOCTYPE html>
<html lang="en">
<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Elite Jobs</title>
    <link rel="icon" type="image/x-icon" href="/static/images/1.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
        integrity="sha384-oBqDVmMz9ATKxI  ep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
        integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
        crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/ddb78983e6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/zoho.css">
    <script src="https://kit.fontawesome.com/ddb78983e6.js" crossorigin="anonymous"></script>
    <script>
        window.watsonAssistantChatOptions = {
          integrationID: "326eaf57-00c1-4160-92c5-73d4cc2b36a2", // The ID of this integration.
          region: "au-syd", // The region your integration is hosted in.
          serviceInstanceID: "8b7a8c0d-8ef0-4940-a46e-182b96c1b179", // The ID of your service instance.
          onLoad: function(instance) { instance.render(); }
        };
        setTimeout(function(){
          const t=document.createElement('script');
          t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
          document.head.appendChild(t);
        });
      </script>
</head>

<body>
    <style>
        body {
            background-color: rgba(131, 133, 131, 0.514);
        }
    </style>
    <nav class="navbar ">


        <a class="brand" href="/">
            <img src="../static/images/1.png" width="50" height="50" class="d-inline-block align-top" alt="">
        </a>

        <a class="nav-link" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="clients">Our Clients</a>
        <a class="nav-link" href="Queries">Queries</a>
        <a class="nav-link" href="about">About</a>
        <a class="nav-link" id="log" href="login">LOGIN</a>
    </nav>

    <div id="background">
        <div class="card" style="width: 50rem; border: 0px">
        <img src="/static/images/vir.webp" height="490" class="card-img-top" alt="...">
        <div class="card-body">
          <b class="card-title" style="color: black;">ANALYST</b><br><br>
          <h6 class="card-text">VIRTUSA</h6>
          
          <p>
            Location : Across India<br>
            Experience : Freshers<br>
            Qualification : Any Graduate
          </p>
          
          <hr>

          <h4>Job Details</h4>

          <b>Salary</b>
          <p>Up to ₹3,00,000 a year</p>

          <b>Job Type</b>
          <p>Full-time</p>

          <b>Qualifications</b>
          <p>total work: 1 year (Preferred)</p>

          <b>Full Job Description</b>
          <p style="font-weight: 600;">Hello All,</p>
          <p>Greeting from Ness Tech !!</p>
          <p>We have an immediate open position IT Business Analyst with Internal projects for Multiple locations.
            <br>
            Education: Any Graduate /Post Graduate</p>

            <b>Job Description</b>
            <p>
                <ul>
                    <li>Any Graduate with good Academic Percentages.</li>
                    <li>Business Analytical and Critical Thinking Communication and Interpersonal Skills.</li>
                    <li>Negotiation and Cost-Benefit Analysis Decision-Making Skills Programming Skills</li>
                    <li>Creation of Reports and Dashboards Database and SQL</li>
                </ul>
                <br>
                If anyone interested please reply with your latest Resume.
            </p>

            <b>Job Type:</b>
            <p>Fresher</p>

            <b>Schedule:</b>
            <p>Day shift</p>

            <b>Ability to commute/relocate:</b>
            <p>Visakhapatnam, Andhra Pradesh: Reliably commute or planning to relocate before starting work (Required)</p>

            <b>Experience:</b>
            <p>total work: 1 year (Preferred)</p>

            <b>Hiring Insights</b>
            <ul style="list-style: none;">
                <li><i class="fa-solid fa-bolt"></i>    Application response rate:<b style="color: rgb(218, 119, 119);">65%</b></li>
                <li><i class="fa-solid fa-user-plus"></i>   Hiring 5 candidates for this role</li>
            </ul>
            <a href="https://www.virtusa.com/careers/job-search/job/47072-en/analyst"
                class="apply">Apply now</a>
        </div>
      </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
</body>
</html>