<!DOCTYPE html>
<html lang="en">
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joblist</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxI  ep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
    integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
    crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/ddb78983e6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/zoho.css">
    <script src="https://kit.fontawesome.com/ddb78983e6.js" crossorigin="anonymous"></script>
    <script>
        window.watsonAssistantChatOptions = {
          integrationID: "326eaf57-00c1-4160-92c5-73d4cc2b36a2", // The ID of this integration.
          region: "au-syd", // The region your integration is hosted in.
          serviceInstanceID: "8b7a8c0d-8ef0-4940-a46e-182b96c1b179", // The ID of your service instance.
          onLoad: function(instance) { instance.render(); }
        };
        setTimeout(function(){
          const t=document.createElement('script');
          t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
          document.head.appendChild(t);
        });
      </script>
</head>

<body>
    <style>
        body {
            background-color: rgba(131, 133, 131, 0.514);
        }
    </style>
    <nav class="navbar ">


        <a class="brand" href="/">
            <img src="../static/images/1.png" width="50" height="50" class="d-inline-block align-top" alt="">
        </a>

        <a class="nav-link" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="clients">Our Clients</a>
        <a class="nav-link" href="Queries">Queries</a>
        <a class="nav-link" href="about">About</a>
        <a class="nav-link" id="log" href="login">LOGIN</a>
    </nav>

    <div id="background">
        <div class="card" style="width: 50rem; border: 0px">
            <img src="../static/images/zohobackground.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <b class="card-title" style="color: black;">SOFTWARE DEVELOPER</b><br><br>
                <h6 class="card-text">ZOHO CORPORATION</h6>

                <p>
                    Location : Chennai<br>
                    Experience : Freshers<br>
                    Qualification : Any Degree
                </p>

                
                <hr>

                <h4>Job Details</h4>

                <b>Salary</b>
                <p>₹2,40,000 - 6,00,000 a year</p>

                <b>Benifits & Perks</b>
                <p>Provident Fund, Health insurance</p>

                <b>Job Type</b>
                <ul>
                    <li>Full-time</li>
                    <li>Fresher</li>
                    <li>Regular / Permanent</li>
                </ul>

                <hr>

                <b>Qualifications</b>
                <ul>
                    <li>Bachelor's (Preferred)</li>
                    <li>Flutter: 1 year (Preferred)</li>
                    <li>Laravel: 1 year (Preferred)</li>
                    <li>PHP: 1 year (Preferred)</li>
                    <li>English (Preferred)</li>
                </ul>

                <hr>

                <b>Full job Description</b>
                <p>Freshers and Experienced professionals with 1-2 years of experience
                    (In any Technology) for our MNC client</p>

                <p><b>Technology:</b>Flutter (Mobile Development) and PHP Laravel</p>

                <p><b>Training period:</b>3 Months (Starts from Dec 1st, 2022)</p>

                <p><b>Pay:</b>Salary/Stipend during the training period as well</p>

                <p><b>Commitment:</b>1.9 years</p>

                <p><b>Work Location:</b>At our client’s location after your training period (Banjara Hills, Hyderabad)
                </p>

                <p><b>Education Background:</b>Preferably B.E/B.Tech/M.C.A/Any Graduation. Should possess good Logical
                    and Analytical abilities</p>

                <p><b>Selection Criteria:</b>Written Test and Interview</p>

                <p><b> Contact:</b>Send your resumes to the mail ID</p>
                <ul>
                    <li style="color: rgb(116, 167, 116);">Candidates who have opted for a career break due to various
                        reasons can apply for these positions</li>
                    <li style="color: rgb(116, 167, 116);">Non-IT/Computer degree holders who are exceptional and wants
                        to build their career in IT are welcome to apply</li>
                </ul>

                <hr>
                <b>Benifits</b>
                <ul>
                    <li>Provident Fund</li>
                    <li>Health insurance</li>
                </ul>

                <b>Schedule</b>
                <p>Morning shift</p>

                <b>Job Types</b>
                <p>Full-time, Regular / Permanent, Fresher</p>

                <b>Education</b>
                <p>Bachelor's (Preferred)</p>

                <b>Experience</b>
                <ul>
                    <li>Flutter: 1 year (Preferred)</li>
                    <li>Laravel: 1 year (Preferred)</li>
                    <li> PHP: 1 year (Preferred)</li>
                </ul>

                <b>Language</b>
                <p>English (Preferred)</p>

                <b>Hiring Insights</b>
                <ul style="list-style: none;">
                    <li><i class="fa-solid fa-bolt"></i>   Application response rate:<b style="color: rgb(218, 119, 119);">67%</b></li>
                    <li><i class="fa-solid fa-user-plus"></i>  Hiring 10+ candidates for this role</li>
                </ul>
                <a href="https://careers.zohocorp.com/forms/fcc89b5ebd373d598e0224d10f2199d152c193ab04ef6c4888f2775da6c6534f"
                    class="apply">Apply now</a>
            </div>
        </div>

    </div>
    <button class="icon-chevron-up" onclick="topFunction()"id="myBtn" title="Go to top">

    </button>
    <script>
        let mybutton=
        document.getElementById("myBtn");
        window.onscroll=function()
        {scrollFunction()};
        function scrollFunction(){
          if(document.body.scrollTop>20||
          document.documentElement.scrollTop>20)
          {
            mybutton.style.display="block";

          }else{
            mybutton.style.display="none";
          }
        }

        function topFunction(){
          document.body.scrollTop=0;
          document.documentElement.scrollTop=0;
        }
      </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>

</html>