*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    text-align: center;
    color: white;
}
img{
    margin-right: 75px;
}
.container{
    margin-top: 15%;
}
body{
    background:url('background.jpg');
    background-size:cover ;
}
