{% extends 'home.html' %}
{% block title %}
{{title}}
{% endblock title %}
{% block content %}

<div id="welcome">
    <h1>Welcome to Our Website</h1>
    <h3>Felling Happy to see you in our Website &#128512;</h3>
    <p>This is our <b>Flask-App</b> assignment</p>
    <br>
    <br>
    <p id="p1">Written by:</p>
    <p id="p2">Braian Gibson</p>
</div>
<style>
    #welcome{
        text-align: center;
    }
    #welcome h1{
        font-weight: 700;
        font-size: xx-large;
        color:  rgb(202, 49, 105);
        padding-bottom: 60px;
    }
    #p1{
        font-size: large;
        padding-top: 160px;
        color: rgba(36, 35, 36, 0.426);
    }
    #p2{
        font-size: medium;
        color: rgb(108, 1, 157);
    }
</style>

{% endblock content %}